/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Variables */
:root {
  --grey: #8a92ad;
  --pink: #ee02ff;
  --purple: #7200af;
  --orange: #ff4e02;
  --light-grey: #c9cddb;
  --dark-purple: #1d1c2b;
  --light-purple: #cb93e9;
  --medium-purple: #a702ff;
}

/* Main Settings */
body {
  color: white;
  background-color: #12001a;
  font-family: 'Poppins', sans-serif;
}

section {
  padding-top: 12vh;
}

/* FlexBox */
.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: space-evenly;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

/* Default Components */
.max-content {
  width: 1200px;
  max-width: 1200px;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h1,
h2 {
  max-width: 928px;
  text-align: center;
  text-transform: capitalize;

}

.default-p {
  font-size: 18px;
  color: var(--grey);
}

.sm-default-p {
  font-size: 15px;
  color: var(--grey);
}

.lg-default-p {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.long-p {
  font-size: 15px;
  line-height: 1.7;
  text-align: left;
  font-weight: 400;
  color: var(--light-grey);
}

.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  padding: 12px 35px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--orange);
  transition: all 300ms ease-in-out;
}

.button:hover {
  background-color: var(--purple);
}

.glow  {
  top: -20%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  z-index: -10;
  opacity: 0.2;
  position: absolute;
  filter: blur(100px);
  border-radius: 100%;
  transform: translateX(-50%);
  background-color: var(--pink);
}