.header {
  width: 100%;
  height: 8vh;
  background-color: transparent;
}

.header__nav {
  height: 10%;
}

.header__logo {
  width: 140px;
}

.header__link {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-right: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__cart {
  width: 18px;
}