.header {
  width: 100%;
  height: 9vh;
  z-index: 9999;
  position: fixed;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.header.active {
  background-color: var(--black);
}

.header__nav {
  height: 10%;
}

.header__logo {
  width: 140px;
}

.header__link {
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-right: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.header__link:hover {
  color: var(--light-purple);
}

.header__cart {
  width: 18px;
}