#questions h2 {
  text-align: left;
  margin-top: 60px;
}

.questions__block {
  width: 560px;
  margin-bottom: 16px;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
  background-color: var(--dark-purple);
}

.questions__block:hover {
  background-color: #12001a;
  transform: translateY(-5px);
}

.questions__block:hover .questions__answer{
  background-color: #12001a;
}

.questions__button {
  width: 560px;
  height: 86px;
  padding: 20px;
}

.questions__button.active {
  border-radius: 10px 10px 0 0;
}

.questions__icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  position: relative;
  background-color: #0f0e16;
}

.questions__plus {
  transform: rotate(90deg);
  transition: all 500ms ease-in-out;
}

.questions__button.active .questions__plus {
  transform: rotate(0deg);
}

.questions__minus,
.questions__plus {
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: var(--medium-purple);
}

.questions__answer {
  opacity: 0;
  padding: 0px;
  max-height: 0;
  overflow-y: hidden;
  border-radius: 0 0 10px 10px;
  transition: all 500ms ease-in-out;
  background-color: var(--dark-purple);
}

.questions__answer.active {
  opacity: 1;
  padding: 20px;
  max-height: 1000px;
}
